<div class="bg-green card">
  <div class="card__top">
    <div class="tools">
      <div class="circle">
        <span class="red box"></span>
      </div>
      <div class="circle">
        <span class="yellow box"></span>
      </div>
      <div class="circle">
        <span class="green box"></span>
      </div>
    </div>
    <p class="card__type">{{type}}</p>

    </div>
  <div class="line"></div>
  <div class="card__content">
    <h4 class="color-white">{{title}}</h4>
    <p class="color-white">
      {{description}}
  </div>
  <div class="line position-absolute" style="bottom: 15px"></div>
</div>
